<!DOCTYPE html>
<html lang="en">
<head>
    {% include "links_css_js/link_css.html" %}
</head>
<body>

	<!-- Top Header_Area -->
	 {% include "top_header/top_header.html" %}
	<!-- End Top Header_Area -->

	<!-- Header_Area -->
        {% include "top_header/div_header.html" %}
	<!-- End Header_Area -->



    <!-- Map -->
    <div class="contact_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d233533.81021805512!2d90.44069804466251!3d23.85534870087626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1482565625375"></iframe>
    </div>
    <!-- End Map -->

    <!-- All contact Info -->
    <section class="all_contact_info">
        <div class="container">
            <div class="row contact_row">
                <div class="col-sm-6 contact_info">
                    <h2>Contact Info</h2>
                    <p> Abish Builders Pvt Ltd is a premier real estate and land development company in Mangalore for the last 1 decade with reliable and trustworthy dealings . ... M/s Abish Builders Pvt Ltd and Developers is one of the pioneers in construction industry in Mangalore</p>
                    
                    <div class="location">
                        <div class="location_laft">
                            <a class="f_location" href="#">location</a>
                            <a href="#">phone</a>
                           
                            <a href="#">email</a>
                        </div>
                        <div class="address">
                            <a href="#">Ground Floor, Punja Building M.G.Road, Mangalore PIN- 575003, Karnataka, India, Lalbhagh, Karnataka 575003 </a>
                            <a href="#">0824 245 2488</a>
                           
                            <a href="#">abishbuilders.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 contact_info send_message">
                    <h2>Send Us a Message</h2>
                    <form class="form-inline contact_box">
                        <input type="text" class="form-control input_box" placeholder="First Name *">
                        <input type="text" class="form-control input_box" placeholder="Last Name *">
                        <input type="text" class="form-control input_box" placeholder="Your Email *">
                        <input type="text" class="form-control input_box" placeholder="Subject">
                        <input type="text" class="form-control input_box" placeholder="Your Website">
                        <textarea class="form-control input_box" placeholder="Message"></textarea>
                        <button type="submit" class="btn btn-default">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End All contact Info -->

    <!-- Footer Area -->

    {% include "footer/footer.html" %}
    <!-- End Footer Area -->

    <!-- jQuery JS -->
   {% include "links_css_js/link_for_js.html" %}
</body>
</html>
