
{% load staticfiles %}
<footer class="footer_area">
        <div class="container">
            <div class="footer_row row">
                <div class="col-md-6 col-sm-8  footer_about">
                    <h2>ABOUT OUR COMPANY</h2>
                    <img src="{% static "images/l4.jpg" %}" alt="">
                    <p>Abish Builders Pvt Ltd and Developers is one of the pioneers in construction industry in Mangalore</p>
                    <ul class="socail_icon">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    </ul>
                </div>

                <div class="col-md-6 col-sm-8  footer_about">
                    <h2>CONTACT US</h2>
                    <address>
                        <p>Have questions, comments or just want to say hello:</p>
                        <ul class="my_address">
                            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>abishbuilders.com</a></li>
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>0824 245 2488</a></li>
                            <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i><span>Ground Floor, Punja Building M.G.Road, Mangalore PIN- 575003, Karnataka, India, Lalbhagh, Karnataka 575003 </span></a></li>
                        </ul>
                    </address>
                </div>
            </div>
        </div>

    </footer>